@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

@layer utilities {
  .text-balance {
    /*text-wrap: balance;*/
  }
}

@layer base {
  /*:root {*/
  /*  --background: 0 0% 100%;*/
  /*  --foreground: 0 0% 3.9%;*/
  /*  --card: 0 0% 100%;*/
  /*  --card-foreground: 0 0% 3.9%;*/
  /*  --popover: 0 0% 100%;*/
  /*  --popover-foreground: 0 0% 3.9%;*/
  /*  --primary: 0 0% 9%;*/
  /*  --primary-foreground: 0 0% 98%;*/
  /*  --secondary: 0 0% 96.1%;*/
  /*  --secondary-foreground: 0 0% 9%;*/
  /*  --muted: 0 0% 96.1%;*/
  /*  --muted-foreground: 0 0% 45.1%;*/
  /*  --accent: 0 0% 96.1%;*/
  /*  --accent-foreground: 0 0% 9%;*/
  /*  --destructive: 0 84.2% 60.2%;*/
  /*  --destructive-foreground: 0 0% 98%;*/
  /*  --border: 0 0% 89.8%;*/
  /*  --input: 0 0% 89.8%;*/
  /*  --ring: 0 0% 3.9%;*/
  /*  --chart-1: 12 76% 61%;*/
  /*  --chart-2: 173 58% 39%;*/
  /*  --chart-3: 197 37% 24%;*/
  /*  --chart-4: 43 74% 66%;*/
  /*  --chart-5: 27 87% 67%;*/
  /*  --radius: 0.5rem;*/
  /*}*/
  /*.dark {*/
  /*  --background: 0 0% 3.9%;*/
  /*  --foreground: 0 0% 98%;*/
  /*  --card: 0 0% 3.9%;*/
  /*  --card-foreground: 0 0% 98%;*/
  /*  --popover: 0 0% 3.9%;*/
  /*  --popover-foreground: 0 0% 98%;*/
  /*  --primary: 0 0% 98%;*/
  /*  --primary-foreground: 0 0% 9%;*/
  /*  --secondary: 0 0% 14.9%;*/
  /*  --secondary-foreground: 0 0% 98%;*/
  /*  --muted: 0 0% 14.9%;*/
  /*  --muted-foreground: 0 0% 63.9%;*/
  /*  --accent: 0 0% 14.9%;*/
  /*  --accent-foreground: 0 0% 98%;*/
  /*  --destructive: 0 62.8% 30.6%;*/
  /*  --destructive-foreground: 0 0% 98%;*/
  /*  --border: 0 0% 14.9%;*/
  /*  --input: 0 0% 14.9%;*/
  /*  --ring: 0 0% 83.1%;*/
  /*  --chart-1: 220 70% 50%;*/
  /*  --chart-2: 160 60% 45%;*/
  /*  --chart-3: 30 80% 55%;*/
  /*  --chart-4: 280 65% 60%;*/
  /*  --chart-5: 340 75% 55%;*/
  /*}*/
}

@layer base {
  * {
    @apply border-border;

  }
  /*body {*/
  /*  @apply bg-background text-foreground;*/
  /*}*/
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* styles/globals.css */

/*@font-face {*/
/*  font-family: 'MazzardFont';*/
/*  src: url('../app/assets/fonts/Mazzard_Font/MazzardM-Medium.otf') format('opentype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*}*/
@font-face {
  font-family: 'MazzardFont';
  src: url('../app/assets/fonts/Mazzard/MazzardH-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



html {
  font-family: 'MazzardFont', sans-serif;
  background-color: #000;
  color : #FFFFFF;
}

p{
  font-size: 20px;
}
h1{
  font-size: 56px;
}
h2{
  font-size: 48px;
}
h4{
  font-size: 32px;
}
h6{
  font-size: 24px;
}
h3{
  font-size: 40px;
}


@layer utilities {
  .btn_white {
    @apply  border-white bg-white px-8 py-3 text-green-50
  }
  .btn_white_text  {
    @apply  border-white bg-white px-8 py-3 text-gray-90
  }
  .btn_green  {
    @apply  border-green-50 bg-green-50 px-8 py-5 text-white
  }
  .btn_dark_green {
    @apply  bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
  }
  .btn_dark_green_outline  {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white
  }

  .max-container {
    @apply mx-auto max-w-[1090px] px-3;
  }
  .max-container-width {
    @apply mx-auto max-w-[1440px];
  }


  .padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex  justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }


  .flexEnd {
    @apply flex items-center justify-end;
  }


  .bold-500 {
    @apply font-[500];
  }
  .bold-600 {
    @apply font-[600];
  }
  .bold-700 {
    @apply font-[700];
  }
  .bold-400 {
    @apply font-[400];
  }
  .bold-300 {
    @apply font-[300];
  }

  .flexCol {
    @apply flex flex-col;
  }



  /* Hero */
  .hero-map {
    @apply absolute right-0 top-0 h-screen w-screen bg-pattern-2 bg-cover bg-center md:-right-28 xl:-top-60;
  }

  /* Camp */
  .camp-quote {
    @apply absolute -right-6 bottom-4 w-[140px] lg:bottom-10 xl:-right-8 xl:w-[186px] 3xl:right-0;
  }

  /* Feature */
  .feature-phone {
    @apply absolute top-[13%] z-10 hidden max-w-[1500px] rotate-[15deg] md:-left-16 lg:flex  3xl:left-20;
  }

  /* Get App */
  .get-app {
    @apply max-container relative flex w-full  flex-col justify-between gap-32 overflow-hidden bg-green-90 bg-pattern bg-cover bg-center bg-no-repeat px-6 py-12 text-white sm:flex-row sm:gap-12 sm:py-24 lg:px-20 xl:max-h-[598px] 2xl:rounded-5xl;
  }
  .blue-main {
    @apply text-blue-main;
  }

}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* Banner.tsx*/
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-text {
  position: relative;
  width: 100px;
  height: 100px;
  animation: rotateCircle 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle-text span {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: 0 50px; 
  font-size: 4px;
  font-weight: 700;
}

.neon-shadow {
  color: #0DA4F5; 
  text-shadow:
          0 0 1px #0DA4F5,
          0 0 10px #0DA4F5,
          0 0 20px #0DA4F5,
          0 0 40px #0DA4F5;
}
.neon-shadow-box {
  box-shadow:
          inset 0 0 0px #0DA4F5,
          inset 0 0 10px #0DA4F5,
          0 0 10px #0DA4F5,
          0 0 100px #0DA4F5;
}
.neon-shadow-box-light {
  box-shadow:
           0 0 0px #0DA4F5,
          0 0 0px #0DA4F5,
          0 0 0px #0DA4F5,
          0 0 5px #0DA4F5;
}

.neon-shadow-border {
  box-shadow:
          inset 0 0 0px #0DA4F5,
          0 0 0px #0DA4F5,
          0 0 1px #0DA4F5,
          0 0 10px #0DA4F5;

}

.neon-shadow-white {
  color: #0DA4F5; 
  text-shadow:
          0 0 3px white,
          0 0 10px #0DA4F5,
          0 0 20px #0DA4F5,
          0 0 120px #0DA4F5;
}
.neon-shadow-bg{
  box-shadow:
          inset 0 0 0px #0DA4F5,
          0 0 0px #0DA4F5,
          0 0 1px #0DA4F5,
          0 0 50px #0DA4F5;
}

.shadow-white {
  color: white;
  box-shadow:
          0 0 10px white,
          0 0 10px white,
          0 0 5px white,
          0 0 0px white;
}
.shadow-white-text{
  color: white; 
  text-shadow:
          0 0 0px white,  
          0 0 0px white, 
          0 0 10px white,   
          0 0 50px white;   
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}



.intense-glow-icon {
  position: relative;
  display: inline-block;
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8))
  drop-shadow(0 0 30px rgba(255, 255, 255, 0.6))
  drop-shadow(0 0 60px rgba(255, 255, 255, 0.4))
}
